/* Fondo general */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

/* Contenedor centrado */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Tarjeta principal */
.card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 380px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.8s ease;
}

/* Título */
.card h2 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #333;
}

/* Texto */
.card p {
  margin-bottom: 30px;
  color: #666;
  font-size: 15px;
}

/* Botón elegante */
.card button {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover del botón */
.card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(102, 126, 234, 0.4);
}

/* Animación suave */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  width: 100%;
}

.hero-img {
  width: 110px;
  margin-bottom: 20px;
}
