version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: uniforum-postgres
    environment:
      POSTGRES_USER: uniforum
      POSTGRES_PASSWORD: uniforum
      POSTGRES_DB: identity_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
